body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
header{
    background: #f8f1f1;
    padding: 20px 30px 20px;
    border-top: 12px solid #db6400;
    border-radius: 0;
}

header h1{
    position: relative;
}

header h1::after,
header h1::before{
    content: ' ';
    position: relative;
    margin-right: 20px;
    float:left;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 4px double #aaa; 
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px inset #aaa;
}
header h1::after{
    position: absolute;
    left: 0;
    transform: rotateZ(45deg);
}

nav {
    background: #ffa62b;
    position: sticky;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #16697a;
    transition: color .5s, background .5s; 
}
nav ul li {
    display: inline-block;
}

nav ul li a:hover{
    box-shadow: 0px 20px 0px 10px #db6400;
    color: #f8f1f1;
}

main {
    padding: 10px 15px;
    background: #f8f1f1;
}

main article p::first-letter{
    color: #db6400;
}

footer {
    color: #f8f1f1;
    background: #16697a;
    padding: 20px 0;
}

footer h4{
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}

footer ul a{
   color: #ccc;
   text-decoration: none;
}

footer ul a:hover {
    color: #eee;
}


footer address {
    color: #f8f1f1;
}

.row{
    display:flex;
    flex-direction:row;
}

.col{
    flex: 1
}

.container{
    margin: 0 12%;
}
@media screen and (max-width: 768px){
    .container{
        margin: 0 0;
    }
}
