body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
header{
    background: #f8f1f1;
    padding: 1px 30px;
    border-top: 12px solid #db6400;
    border-radius: 0;
}

header h1{
    position: relative;
}

header h1::after,
header h1::before{
    content: ' ';
    position: relative;
    margin-right: 20px;
    float:left;
    width: 33px;
    height: 33px;
    display: inline-block;
    border: 4px double #16697a;
    border-radius: 6px;
    box-shadow: 0px 0px 13px 0px inset #16697a;
}
header h1::after{
    position: absolute;
    left: 0;
    transform: rotateZ(45deg);
}

nav {
    background: #16697a;
    position: sticky;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul > li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #f8f1f1;
    transition: box-shadow .4s, text-shadow .4s; 
}
nav ul li {
    display: inline-block;
    position:relative;
}

nav ul li a:hover{
    box-shadow: 0px -3px 0px 0px #ffa62b inset;
    text-shadow: 0px 0px 2px #ffa62b;
}

nav ul ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left:0;
    min-width: 200px;
    box-shadow: 0px 2px 5px 0px #16697a; 
    background: #f8f1f1;
}

nav ul li > ul li a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: #16697a;
    transition: background .4s; 
}

nav ul li:hover > ul{
    display: block;
}

nav ul li > ul li a:hover {
    background: #eee;
}

main {
    padding: 10px 15px;
    background: #f8f1f1;
}

article p {
    text-align: justify;
}

main article p::first-letter{
    color: #db6400;
}

footer {
    color: #f8f1f1;
    background: #16697a;
    padding: 20px 0;
}

footer h4{
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}

footer ul a{
   color: #ccc;
   text-decoration: none;
}

footer ul a:hover {
    color: #eee;
}


footer address {
    color: #f8f1f1;
}

.row{
    display:flex;
    flex-direction:row;
}

.col{
    flex: 1
}

.container{
    margin: 0 12%;
}
@media screen and (max-width: 768px){
    .container{
        margin: 0 0;
    }
}
